.search-btn {
    background-color: #1db954 !important;
    color: #191414 !important;
    border: none !important;
    z-index: 10;
}

.search-btn:hover {
    transform: scale(1.1) !important;
    background-color: #32df6f;
    color: #191414;
    border: none;
}

.select-btn {
    background-color: #1db954 !important;
    color: #191414 !important;
    border: none !important;
}

.select-btn:hover {
    transform: scale(1.1);
    background-color: #32df6f;
    color: #191414;
    border: none;
}

.search-bar {
    background-color: #191414;
    color: #b3b3b3;
}

.search-bar::placeholder {
  color: #b3b3b3;
}