.search-btn {
    background-color: #1db954 !important;
    color: #191414 !important;
    border: none !important;
    z-index: 10;
}

.search-btn:hover {
    transform: scale(1.1) !important;
    background-color: #32df6f;
    color: #191414;
    border: none;
}

.select-btn {
    background-color: #1db954 !important;
    color: #191414 !important;
    border: none !important;
}

.select-btn:hover {
    transform: scale(1.1);
    background-color: #32df6f;
    color: #191414;
    border: none;
}

.search-bar {
    background-color: #191414;
    color: #b3b3b3;
}

.search-bar::placeholder {
  color: #b3b3b3;
}

/* for search results */

.custom-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-left: 8px;
    margin-right: 8px;
}

.custom-card {
    max-width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
}

.custom-card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.custom-card .card-img {
    height: 150px;
    object-fit: cover;
}

.custom-card .card-body {
    flex: 1;
    overflow: hidden;
}

.recommendations-container {
    max-height: 600px;
    overflow-y: auto;
    margin-top: 20px;
    padding-bottom: 20px;
    min-width: 1200px;
}

.white-text {
    color: #ffffff;
    margin-left: 10px;
}

.custom-card,
.selected-card {
    background-color: #000000 !important;
    color: #ffffff !important;
}

.custom-card .card-title,
.selected-card .card-title {
  color: #ffffff !important;
}

.custom-card .btn,
.selected-card .btn {
  background-color: #1db954;
  color: #ffffff;
  border: none;
}

.custom-card .btn:hover,
.selected-card .btn:hover {
  background-color: #1aa34a;
}