.navbar {
    background-color: #1c1c1c; /* Matte black */
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.navbar h1 {
    margin: 0;
    font-size: 24px;
}
